!!!
html
  head
    title= title
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet',
    href='/assets/bootstrap/css/bootstrap-responsive.min.css')
  body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand Word Burglar

    .container
      .row
        .hero-unit
          p Score:&nbsp;
            span#score 0

      .row
        table#grid
          tbody
            each row in grid.rows
              tr
                each letter in row
                  td
                    a #{letter}

    script(src="/assets/require.js")